ul {
  padding: 0;
  list-style-type: none;
}

p, h1, h2, h3 {
  margin: 0;
}

.container {
  margin-top: 28px;
}

.crawl-error {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crawl-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.crawl-input {
  display: block;
  margin: 24px;
  padding: 14px;
  outline: none;
  min-width: 800px;
}
.crawl-input:focus {
  border: 3px solid #00b4d8;
  border-radius: 8px;
}
.crawl-btn {
  outline: none;
  display: block;
  width: 160px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  background-color: #0077b6;
  transition: all 0.2s;
}
.crawl-btn:hover {
  background-color: #0096c7;
  transform: translateY(-1px);
}

.crawl-result {
  padding: 0px 20px;
}
.crawl-result .rel-total {
  text-align: center;
  font-size: 28px;
  display: inline-block;
  margin-right: auto;
}

.result-item.rel {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 16px;
}
.result-item.rel .rel-sum {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.result-item.rel .rel-sum .rel-version p {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 20px;
}
.result-item.rel .rel-sum .rel-time {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.result-item.rel .rel-sum .rel-time p {
  display: inline-block;
  width: 150px;
  margin: 0 0 20px;
}
.result-item.rel .rel-log {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 40px;
  font-size: 24px;
  font-weight: 600;
}
.result-item.rel .rel-log .log-content {
  height: 350px;
  overflow-y: auto;
  font-size: 1.6rem;
  font-weight: normal;
}
.result-item.rel .rel-log .log-content h1, .result-item.rel .rel-log .log-content h2, .result-item.rel .rel-log .log-content h3 {
  margin-bottom: 16px;
}
.result-item.rel .rel-url {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.result-item.rel .rel-url a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  outline: none;
  display: block;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 18px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  background-color: #0077b6;
  transition: all 0.2s;
}
.result-item.rel .rel-url a:hover {
  background-color: #0096c7;
  transform: translateY(-1px);
}

.result-item.com {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
}
.result-item.com .com-btn {
  text-align: center;
  display: inline-block;
  outline: none;
  display: block;
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 18px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  background-color: #0077b6;
  transition: all 0.2s;
}
.result-item.com .com-btn:hover {
  background-color: #0096c7;
  transform: translateY(-1px);
}
.result-item.com .com-summary {
  align-self: flex-start;
  display: flex;
  align-items: center;
  column-gap: 80px;
}
.result-item.com .com-summary .com-compare {
  font-weight: 600;
  font-size: 24px;
}
.result-item.com .com-summary .com-diff-url {
  display: flex;
  column-gap: 20px;
}
.result-item.com .com-summary .com-diff-url a {
  text-decoration: none;
}
.result-item.com .com {
  display: none;
  padding: 10px 20px;
  max-width: 1200px;
}
.result-item.com .com.show {
  display: block;
}
.result-item.com .com .com-item {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  column-gap: 40px;
  position: relative;
}
.result-item.com .com .com-item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  border: 1px solid #eee;
}
.result-item.com .com .com-item .com-info {
  flex: 1;
}
.result-item.com .com .com-item .com-info .com-comment {
  font-weight: 600;
  max-width: 800px;
}
.result-item.com .com .com-item .com-url {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
}

/*# sourceMappingURL=container.css.map */
